<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dw.zq.mapper.RoleMapper">
	<!-- useGeneratedKeys="true" keyProperty="id" -->
	<insert id="add" parameterType="cn.dw.zq.model.Role" >
		<!-- insert into role(name,remarks) values('张三','备注') -->
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null and name !='' ">
				name,
			</if>
			<if test="remarks !=null and remarks !=''">
				remarks,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null and name !='' ">
				#{name},
			</if>
			<if test="remarks !=null and remarks !=''">
				#{remarks},
			</if>
		</trim>

	</insert>
	
	
	
	<update id="update" parameterType="cn.dw.zq.model.Role">
		<!-- update role set name = '' ,remarks = '' where id = id -->
		update role 
		<set>
			<if test="name != null and name !=''">
				name = #{name},
			</if>
			<if test="remarks !=null and remarks !=''">
				remarks = #{remarks},
			</if>
		</set>
		where id = #{id}
	</update>
	
	
	<delete id="delete"  parameterType="cn.dw.zq.model.Role">
		delete from role where id = #{id}
	</delete>
	
	
	<select id="query2" parameterType="cn.dw.zq.model.Role"  resultType="cn.dw.zq.model.Role">
	
		select * from role
		<where>
			<if test="name !=null and name !=''">
				and name = #{name}
			</if>
			<if test="remarks !=null and remarks !=''">
				and remarks = #{remarks}
			</if>
		</where>
	
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>